$blue: #1070CA;
$grey:#212528;
$console-grey: #808082;
$light-console:#A3A3A3;
$link-console: #14B5D0;
$medium-grey:#464A4D;
$dark-grey: #1E1E1E;
$text: #425A70;
$text-dark: #234361;
$light-blue: #4DA8FF;
$lighter-blue: #DBEAF7;